.home-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.navbar {
    height: 3rem;
    display: flex;
    width: 100%;
}

.diaplay {
    text-align: center;
    margin-left: 1%;}

.googleLogoutButton {
       justify-content: flex-end;
    position: absolute;
    right: 1%;
    top: 0%;
}

.homelink {
    position: absolute;
    top: 1%;
    left: 1%;
}

.sectionHolder {
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
}

.left-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

.right-section {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    height: 100%;
    position: relative;
}

.listHeader {
    background-color: rgb(118, 131, 161);
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;

}

.add-button {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 10%;
    background-color: rgb(99, 143, 244);
    box-sizing: border-box;
    border: 1px solid rgb(73, 125, 248);
    box-shadow: 0 0 10px rgb(94, 126, 199);
    height: 4.5%;
    cursor: pointer;
}

.selectedData {
    margin-top: 3%;
}

.card {
    box-sizing: border-box;
    border: 1px solid rgb(6, 23, 62);
    box-shadow: 0 0 10px rgb(65, 77, 105);
    height: 40px;
    font-size: 80%;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    cursor: pointer;

}
.detailsDisplay {
    box-sizing: border-box;
    border: 1px solid rgb(6, 23, 62);
    box-shadow: 0 0 10px rgb(65, 77, 105);
    height: auto;
    font-size: 80%;
    width: auto;
    margin-left: 10%;
    border-radius: 10px;
    margin-right: 10%;
}

.left-section {
    background-color: #f0f0f0;
}

.right-section {
    background-color: #e0e0e0;
}
.selectedList {
    color: white;
    text-align: center;
    position: fixed;
    top: 8%;
    margin: 0;
    width: 50%;
    background-color: #6a6969;
    left: 49.9%;
}

.btn {
    display: flex;
    position: fixed;
    top: 9.9%;
    left: 53%;
}

.editButton {
    position: absolute;
    right: 0;
}

.deleteButton {
    position: absolute;
    left: 50%;
}

table {
    text-align: left;
}

.column1 {
    vertical-align: top;
    border: 1px solid;
}

.column2 {
    padding-left: 10px;
    border: 1px solid;
}